body {
  background-color: #55ad9b;
  font-family: "Times New Roman", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #95d2b3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}

.title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.2em;
  color: #242021;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textarea {
  background-color: #d8efd3;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #d8efd3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.generate-button {
  background-color: #0044ff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.generate-button:hover {
  background-color: #0900b3;
}

.output-textarea {
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  height: 150px;
  width: 100%;
  background-color: #d8efd3;
}

.copy-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.copy-button:hover {
  background-color: #218838;
}

.message {
  font-size: 0.9em;
  color: #555;
  margin-top: 20px;
}